In [8]:
from FinMind.data import DataLoader
api_tkn = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJkYXRlIjoiMjAyNS0wNy0yNiAxNToxOToxNyIsInVzZXJfaWQiOiJBbmR5MzA2IiwiaXAiOiIxNzUuMTgxLjE3OC4xNSJ9.By2XXOdZXgc_ng21sG9Nf9rjjBuu19WxJEHsIc4tNL4'
api = DataLoader()
api.login_by_token(api_token=api_tkn)

# api.api_usage

# df = api.taiwan_stock_daily(
#     start_date='2020-01-01'
# )

df = api.taiwan_stock_daily(
    start_date='1996-01-04',
    end_date='1996-12-31'
)

print(df.shape)

2025-07-27 19:21:17.196 | INFO     | FinMind.data.finmind_api:get_data:155 - download Dataset.TaiwanStockPrice, data_id:

(231, 10)

In [2]:
df[['date']].to_parquet(r'.\dataset\trading_date.parquet', index=False) #['date'].unique()

In [3]:
import pandas as pd
trading_date = pd.read_parquet(r'.\dataset\trading_date.parquet')
trading_date

            date
0     1996-01-04
1     1996-01-05
2     1996-01-06
3     1996-01-08
4     1996-01-09
...          ...
7291  2024-12-25
7292  2024-12-26
7293  2024-12-27
7294  2024-12-30
7295  2024-12-31

[7296 rows x 1 columns]

In [10]:
api.taiwan_stock_info()['stock_id'].unique().shape

2025-07-27 19:36:54.786 | INFO     | FinMind.data.finmind_api:get_data:155 - download Dataset.TaiwanStockInfo, data_id:

(2974,)

In [17]:
df.head()

Empty DataFrame
Columns: []
Index: []

In [22]:
from datetime import datetime
TW_TRADING_DATES = pd.to_datetime(pd.read_parquet(r'.\dataset\tw_trading_date.parquet')['date'])
date_range = TW_TRADING_DATES[(TW_TRADING_DATES >= datetime.strptime('1996-01-01', '%Y-%m-%d')) & 
                                  (TW_TRADING_DATES <= datetime.strptime('1996-01-10', '%Y-%m-%d'))]
missing_date = set(date_range) - {datetime.strptime('1996-01-10', '%Y-%m-%d')}

In [23]:
{str(date.year) for date in missing_date}

{'1996'}

In [21]:
if {}:
    print('a')
else:
    print('b')
    
len({'a', 'b'})

b

2